.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  max-width: 1463px;
  width: 100%;
  min-width: 0;
}
.freeBox__mij1K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 651px;
}
.img > picture > img {
  object-fit: cover;
}
.text__je8Oy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ff0000;
  text-align: center;
  min-width: 0;
}
.dataDetails:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.slider:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.sliderMark:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qVkF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pFf6A {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__uusry {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__uusry > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__uusry > :global(.__wab_flex-container) > *,
.freeBox__uusry > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uusry > :global(.__wab_flex-container) > picture > img,
.freeBox__uusry
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__uhzPk {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__uhzPk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__uhzPk > :global(.__wab_flex-container) > *,
.freeBox__uhzPk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uhzPk > :global(.__wab_flex-container) > picture > img,
.freeBox__uhzPk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button__n5Toa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 50%;
}
.text__kgYeo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__yr91C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 50%;
}
.text__wBxsF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button___32L8K:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__oCLuH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__wWsy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__wWsy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__wWsy > :global(.__wab_flex-container) > *,
.freeBox__wWsy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wWsy > :global(.__wab_flex-container) > picture > img,
.freeBox__wWsy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.button__iqt0V:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__oxNQi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.exportToPacs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__jMxd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
